{% extends 'header.html' %}

{% block title %}Event Payment{% endblock %}

{% block content %}
<br>
<div class="container mt-5">
    <h2 class="text-center mb-4">Make Payment for {{ booking.service.provider.company_name }}</h2>
    
    <div class="card shadow p-4">
        <p><strong>Service:</strong> {{ booking.event.name }}</p>
        <p><strong>Amount:</strong> Rs. {{ booking.event.price }}</p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success w-100">Pay Now</button>
        </form>
    </div>
</div>
{% endblock %}
