{% extends 'header.html' %}

{% block content %}
<h2 class="text-center">My Bookings</h2>
<table class="table">
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Provider Address</th>
            <th>Provider Phone</th>
            <th>Event</th>
            <th>Date</th>
            <th>Status</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.event.service_provider.user.username }}</td>
            <td>{{ booking.event.service_provider.user.email }}</td>
            <td>{{ booking.event.service_provider.phone }}</td>
            <td>{{ booking.event.name }}</td>
            <td>{{ booking.created_at|date:"Y-m-d" }}</td>
            <td>{{ booking.status }}</td>
            <td>{{ booking.event.price }}</td>
            <td>
                {% if booking.status == "Approved" %}
                <a href="{% url 'event_payment' booking.id %}" class="btn btn-primary">Pay Now</a>
                {% elif booking.status == "Paid" %}
                <span class="text-success">Paid</span>
                {% elif booking.status == "Rejected" %}
                <span class="text-warning">Reject</span>
                {% else %}
                <span class="text-danger">Pending Approval</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
